@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@theme {
  --color-primary: #09f;
  --breakpoint-xs: 350px;
}

/* Usamos CSS estándar dentro de Tailwind para evitar el error de 'group' */
@layer utilities {
  .curso-item:hover .curso-titulo {
    color: #facc15 !important;
  }
  .curso-item[open] .curso-titulo {
    color: #facc15 !important;
  }
}